@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html {
	min-width: 550px;
	overflow-x: hidden; /* Required to hide horizontal scroll on Firefox */
}

/* For use with screen readers */
.sr-only {
	display: none;
}

/* Hide spinbox for number inputs */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type='number'] {
	-moz-appearance: textfield;
}

input[type='number'],
input[type='text'] {
	@apply p-1;
}

/* Firefox only */
.only-firefox {
	display: none;
}

@-moz-document url-prefix('') {
	.only-firefox {
		display: block;
	}
}
